<ion-tabs view-title='书店' class="tabs-icon-top tabs-color-active-positive tabBook">
  <!-- 推荐 -->
  <ion-tab title="推荐" icon-off="icon-recommandoff" icon-on="icon-recommandon" href="#/tab/recommand">
    <ion-nav-view name="tab-recommand"></ion-nav-view>
  </ion-tab>
  <!-- 动态 -->
  <ion-tab title="动态" icon-off="icon-dynamicoff" icon-on="icon-dynamicon" href="#/tab/dynamic">
    <ion-nav-view name="tab-dynamic"></ion-nav-view>
  </ion-tab>
  <!--书库-->
  <ion-tab title="书库" icon-off="icon-booksoff" icon-on="icon-bookson" href="#/tab/store">
    <ion-nav-view name="tab-store"></ion-nav-view>
  </ion-tab>
  <!-- 我的 -->
  <ion-tab title="我的" icon-off="icon-mineoff" icon-on="icon-mineon" href="#/tab/mine">
    <ion-nav-view name="tab-mine"></ion-nav-view>
  </ion-tab>
</ion-tabs>