<ion-view class='detailCommentWrapper' view-title='详情' hide-tabs='false' ios-banner-fit>
  <ion-content has-bouncing='true' scroll='true' class='detailComment'>
    <div class="dcContent">
    	<div class="dcHeader">
    		<div class="dcHeaderL">
    			<img ng-src="../../../images/tempImages/book1.jpg"/>
    		</div>
    		<div class="dcHeaderM">
    			<p class="dcHTitle">历史不忍细看</p>
    			<p class="dcHAuthor">张云新</p>
    			<span class="dcHManager">管理</span>
    		</div>
    		<div class="dcHeaderR">
    			<div class="dcCollection" ng-class='{"collected": isCollected}' ng-click='toCollect()'>
    				{{collectText}}
    			</div>
    		</div>
    	</div>
    	<div class="commentWord">
    		<div class="commentWordTitle">
    		  <span class="comLine"></span>
    		  <span class="comWord">推荐语</span>
    		</div>
    		<div class="commentWordCon">
    		   <p>
    		     只是心中有点堵，看不上的真爱的结尾，看不到幸福圆满的结局。主人公孙少平依然的走着自己的坚实，不卑不亢，不屈不挠，
    		   那些真心的爱没有成为他的幸福，或者遗憾，或者退避，都是为了爱，一种大义凌然，包容博爱，真正男人的形象。恐怕这就是
    		  作者所期望读者所领悟是，一种奋发的精神。
    		   </p>
    		</div>
    	</div>
    	<div class="commentWord">
        <div class="commentWordTitle">
          <span class="comLine"></span>
          <span class="comWord">作者简介</span>
        </div>
        <div class="commentWordCon">
           <p>
             只是心中有点堵，看不上的真爱的结尾，看不到幸福圆满的结局。主人公孙少平依然的走着自己的坚实，不卑不亢，不屈不挠，
           那些真心的爱没有成为他的幸福，或者遗憾，或者退避，都是为了爱，一种大义凌然，包容博爱，真正男人的形象。恐怕这就是
          作者所期望读者所领悟是，一种奋发的精神。
           </p>
        </div>
      </div>
      <div class="commentWord">
        <div class="commentWordTitle">
          <span class="comLine"></span>
          <span class="comWord">主要内容</span>
        </div>
        <div class="commentWordCon">
           <p>
             只是心中有点堵，看不上的真爱的结尾，看不到幸福圆满的结局。主人公孙少平依然的走着自己的坚实，不卑不亢，不屈不挠，
           那些真心的爱没有成为他的幸福，或者遗憾，或者退避，都是为了爱，一种大义凌然，包容博爱，真正男人的形象。恐怕这就是
          作者所期望读者所领悟是，一种奋发的精神。
           </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
